.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url(https://images.fineartamerica.com/images/artworkimages/medium/2/abstract-smoke-background-lastsax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow: auto;
}

.app-header {
    width: 80%;
}

.app-heading {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
  background-image: linear-gradient(0.25turn, #00ff00, #ffff48, #ff0000);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.aqi-data-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.app-fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.city-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 2px;
}

@media (max-width: 640px) {
    .aqi-data-container {
        width: 95%;
    }
}