.card-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    border-radius: 4px;
    margin: 4px 0px;
}

.card-container:hover {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .3);
    transition:box-shadow 0.3s ease-in;
}

.details {
    min-height: 42px;
    width: 90%;
    padding-left: 0px 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.city-name, .aqi {
    width: 27%;
}

.last-updated {
    width: 40%;
    color: rgb(114, 114, 114);
}

.extra-container {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: wheat;
}

.card-extended {
    height: 100px;
}

.accordion {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-img {
    width: 12px;
    height: 12px;
}

.acc-open {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.acc-close {
    transform: rotate(270deg);
    transition: all 0.2s;
}

.show-graph {
    display: block;
}

.hide-graph {
    display: none;
}


.aqi-good {
    background-color: #00ff00;
}

.aqi-satisfactory {
    background-color: #55FF18;
}

.aqi-moderate {
    background-color: #D5FF3C;
}

.aqi-poor {
    background-color: #FFA500;
}

.aqi-very-poor {
    background-color: #FF8024;
}

.aqi-severe {
    background-color: #ff0000;
}



@media (max-width: 640px) {
    .card-container {
        width: 90%;
    }
}